---
import { Image } from 'astro:assets'
import Layout from '~/layouts/Blog.astro'
import Seo from '~/components/Seo.astro'
import { type BlogPost, getBlogPosts } from '~/lib/utils'

export async function getStaticPaths() {
  const posts = await getBlogPosts()

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }))
}

interface Props {
  post: BlogPost
}

const post = Astro.props.post

const { Content } = await post.render()
---

<Layout>
  <Seo
    slot="meta"
    title={post.data.title}
    description={post.data.description}
    image={post.data.image}
    article={{
      published_time: post.data.date,
    }}
  />

  <div class="max-w-3xl contain-paint space-y-6">
    {
      !!post.data.image && (
        <Image
          src={post.data.image}
          alt={`${post.data.title} header image`}
          class="w-full aspect-[4/1] object-top object-cover"
          loading="eager"
        />
      )
    }

    <div class="border-b border-gray-600 pb-6 space-y-1">
      <h1 class="text-3xl text-orange-300 font-semibold">
        {post.data.title}
      </h1>

      <div>
        {
          !post.data.date ? (
            <span class="text-red-500 font-semibold uppercase italic">Draft</span>
          ) : (
            <time class="text-gray-400" datetime={post.data.date!.toISO()}>
              {post.data.date!.toFormat('MMMM dd, y')}
            </time>
          )
        }
      </div>
    </div>

    <article class="prose max-w-none">
      <Content />
    </article>
  </div>
</Layout>
