---
import { format } from 'date-fns'

import type { PostMetadata } from '../../env'
import Show from '../conditionals/Show.astro'

export interface Props {
    preview?: boolean
    metadata: PostMetadata
}

const { preview = false, metadata } = Astro.props

let date: Date|null = !!metadata.date
    ? new Date(`${metadata.date}T00:00:00.000-06:00`)
    : null
---

<div
  x-data
  class='w-full bg-gray-50 dark:bg-gray-800 md:border-x border-y border-gray-400 dark:border-gray-600 md:rounded-lg divide-y divide-gray-400 dark:divide-gray-600'
>
    <!-- Metadata -->
    <div class='px-4 py-2 space-y-2'>
        <!-- Title -->
        <h1 class='text-2xl font-semibold'>
            <Show if={preview}>
                <a x-prefetch href={metadata.url} class="block hocus:text-blue-700 dark:hocus:text-blue-500 focus:ring ring-blue-500 focus:outline-none">
                    {metadata.title}
                </a>
            </Show>
            <Show if={!preview}>
                {metadata.title}
            </Show>
        </h1>

        <div class='flex items-center text-gray-700 dark:text-gray-300 text-sm md:text-base font-medium space-x-8'>
            <!-- Author -->
            <a
                href='/about'
                class='flex items-center hocus:text-blue-700 dark:hocus:text-blue-500 focus:ring ring-blue-500 focus:outline-none space-x-1'
            >
                <div class='relative w-8 h-8 rounded-full overflow-hidden'>
                    <img
                        src='https://secure.gravatar.com/avatar/dfbbacbe4acbe45486084d472bf043fb?size=96'
                        alt="Jorge González's Avatar"
                    />
                </div>
                <span>Jorge González</span>
            </a>

            <Show if={!!date}>
                <!-- Publish Date -->
                <div class='flex items-center space-x-1'>
                    <span>📅</span>
                    <time date-time={date!.toISOString()}>
                        {format(date!, 'MMMM do, y')}
                    </time>
                </div>
            </Show>
            <Show if={!date}>
                <span class='font-bold uppercase text-red-500 italic'>
                    Draft
                </span>
            </Show>
        </div>
    </div>

    <!-- Content -->
    <article class="prose dark:prose-invert prose-lg max-w-none px-4 py-2">
        <slot>
            <Show if={!!metadata.excerpt} set:html={metadata.excerpt} />
        </slot>

        <Show if={preview}>
            <a x-prefetchq href={metadata.url} class='focus:ring ring-blue-500 focus:outline-none'>
                Continue Reading →
            </a>
        </Show>
    </article>
</div>